@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700&subset=latin-ext");
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  outline: none; }

body {
  position: relative;
  width: 100%;
  overflow-x: hidden; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative; }

button {
  cursor: pointer; }

.white-button {
  width: 207px;
  height: 52px;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
  cursor: pointer;
  line-height: 52px;
  text-align: center;
  color: #de5628;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.12), 0 2px 14px 0 rgba(0, 0, 0, 0.24); }
  @media all and (max-width: 768px) {
    .white-button {
      margin: 0 auto; } }
  .white-button span {
    font-weight: 300; }

.white-button:hover {
  background-color: #ffeee9;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.34), 0 2px 14px 0 rgba(0, 0, 0, 0.24); }

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden; }

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden; }

.center-block {
  display: flex;
  flex-direction: column;
  align-items: left; }

.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  height: 84px;
  z-index: 3;
  transition: background-color .5s;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media all and (max-width: 768px) {
    .navbar {
      position: absolute; } }
  .navbar .navbar-left {
    padding-left: 25px; }
    .navbar .navbar-left img {
      height: 27px;
      width: 100px;
      cursor: pointer; }
  .navbar .navbar-right {
    margin-right: 24px;
    color: white;
    font-size: 16px;
    font-weight: 300; }
    @media all and (max-width: 768px) {
      .navbar .navbar-right {
        display: none; } }
    .navbar .navbar-right li {
      display: inline-block;
      margin-left: 48px;
      margin-top: 33px;
      cursor: pointer; }
      .navbar .navbar-right li:last-child {
        width: 105px;
        height: 40px;
        border-radius: 2px;
        background-color: #de5628;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        position: relative;
        top: -11px;
        cursor: pointer; }
        .navbar .navbar-right li:last-child a {
          position: relative;
          width: 105px;
          height: 40px;
          display: block;
          text-align: center;
          top: 11px; }
      .navbar .navbar-right li:last-child:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); }
    .navbar .navbar-right a {
      text-decoration: none;
      font-family: "Montserrat";
      font-size: 16px;
      text-align: left;
      color: #ffffff; }

.home {
  width: 100%;
  min-height: 813px;
  height: 100vh;
  background: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  color: white; }
  @media all and (max-width: 768px) {
    .home {
      height: 514px !important;
      min-height: 514px !important; } }
  .home .youtube-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10; }
    .home .youtube-container .youtube-close-icon:hover {
      transform: scale(1.2); }
    .home .youtube-container #youtube-video {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.75);
      z-index: 10; }
    .home .youtube-container iframe:-webkit-full-screen {
      transform: none !important; }
  .home .title {
    width: 405px;
    height: auto;
    font-family: 'Bitter';
    font-size: 42px;
    text-align: left;
    position: absolute;
    top: 133px;
    left: 152px; }
    @media all and (max-width: 1200px) {
      .home .title {
        left: 61px;
        top: 101px;
        width: 347px;
        font-size: 36px; } }
    @media all and (max-width: 768px) {
      .home .title {
        top: 179px;
        width: 296px;
        left: 16px; } }
  .home .title-second {
    width: 558px;
    height: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: left;
    position: absolute;
    top: 255px;
    left: 152px; }
    @media all and (max-width: 1200px) {
      .home .title-second {
        width: 323px;
        top: 208px;
        left: 61px; } }
    @media all and (max-width: 768px) {
      .home .title-second {
        top: 323px;
        width: 288px;
        left: 16px; } }
  .home .downloadMitto {
    text-decoration: none;
    width: 156px;
    height: 40px;
    line-height: 40px;
    top: 379px;
    left: 152px;
    position: absolute;
    border: none;
    border-radius: 2px;
    background-color: #de5628;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }
    @media all and (max-width: 768px) {
      .home .downloadMitto {
        display: none; } }
    .home .downloadMitto p {
      width: auto;
      height: 19px;
      margin: auto;
      font-family: 'Montserrat';
      font-size: 16px;
      text-align: center;
      color: #ffffff; }
    @media all and (max-width: 1200px) {
      .home .downloadMitto {
        top: 372px;
        left: 61px; } }
  .home .downloadMitto:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); }
  .home .video-box {
    width: 768px;
    height: 322px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%); }
    @media all and (max-width: 768px) {
      .home .video-box {
        display: none; } }
  .home .video-link {
    position: absolute;
    bottom: 147px;
    left: 50%;
    transform: translateX(-50%); }
    @media all and (max-width: 768px) {
      .home .video-link {
        display: none; } }
    .home .video-link .triangle {
      object-fit: contain;
      margin-left: 14px;
      position: relative;
      top: 7px; }

.description {
  max-width: 1200px;
  height: 625px;
  background-color: white;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #333333;
  display: flex;
  justify-content: center;
  position: relative; }
  @media all and (max-width: 768px) {
    .description {
      display: none; } }
  .description .center-block {
    width: 100%;
    padding-left: 152px; }
  .description .paragraph {
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    border-radius: 100px 0 0 100px;
    width: 280px;
    font-size: 24px;
    text-align: left;
    cursor: pointer; }
  .description .active-paragraph {
    background-color: #eaf0ef; }
  .description .paragraph-first {
    margin-top: 153px; }
  .description .paragraph-first-second {
    margin-top: 14px;
    width: 280px;
    height: 78px;
    opacity: 1;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: left;
    -webkit-transition: all .8s;
    /* Safari */
    transition: all .8s; }
  .description .paragraph-second {
    margin-top: 31px; }
  .description .paragraph-second-second {
    margin-top: 14px;
    width: 280px;
    height: 0;
    opacity: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: left;
    -webkit-transition: all .8s;
    /* Safari */
    transition: all .8s; }
  .description .paragraph-third {
    margin-top: 31px; }
  .description .paragraph-third-second {
    margin-top: 14px;
    width: 280px;
    height: 0;
    opacity: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: left;
    -webkit-transition: all .8s;
    /* Safari */
    transition: all .8s; }
  .description .paragraph-fourth {
    margin-top: 31px; }
  .description .paragraph-fourth-second {
    margin-top: 14px;
    width: 280px;
    height: 0;
    opacity: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: left;
    -webkit-transition: all .8s;
    /* Safari */
    transition: all .8s; }
  .description .image-description {
    top: 114px;
    left: 0;
    width: 100%;
    height: 440px;
    position: relative; }
    .description .image-description .image-description-content {
      width: 100%;
      height: 100%; }
  .description .wysylka {
    display: block; }
  .description .koszyk,
  .description .historia,
  .description .oszczednosci {
    display: none; }

.prices {
  width: 100%;
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 118px; }
  @media all and (max-width: 768px) {
    .prices {
      margin-bottom: 30px; } }
  .prices .title {
    width: 100%;
    font-family: "Bitter";
    font-size: 32px;
    text-align: center;
    color: #333333;
    margin: 70px auto 12px; }
    @media all and (max-width: 768px) {
      .prices .title {
        margin-top: 64px;
        margin-bottom: 9px; } }
  .prices .prices-description-1 {
    width: auto;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
    color: #333333;
    margin: 0 auto 20px auto; }
    @media all and (max-width: 768px) {
      .prices .prices-description-1 {
        padding: 0 16px; } }
  .prices .full-price-list {
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    color: #de5628;
    margin-bottom: 60px;
    cursor: pointer;
    display: block;
    text-decoration: none; }
  .prices .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .prices .options .option-block {
      width: 184px;
      height: 166px;
      border-radius: 5px;
      margin: 10px 12px 26px 12px;
      position: relative; }
    .prices .options .brown {
      background-image: linear-gradient(204deg, rgba(208, 159, 95, 0.1), rgba(165, 92, 29, 0.1)); }
    .prices .options .brown-color {
      color: #a36631; }
    .prices .options .silver {
      background-image: linear-gradient(204deg, rgba(188, 188, 188, 0.1), rgba(124, 124, 124, 0.1)); }
    .prices .options .silver-color {
      color: #959595; }
    .prices .options .gold {
      background-image: linear-gradient(204deg, rgba(225, 180, 47, 0.1), rgba(250, 187, 0, 0.1)); }
    .prices .options .gold-color {
      color: #b39025; }
    .prices .options .platinum {
      background-image: linear-gradient(204deg, rgba(135, 138, 145, 0.1), rgba(15, 46, 119, 0.1)); }
    .prices .options .platinum-color {
      color: #6c6e74; }
    .prices .options .option-image {
      width: 50px;
      height: 52px;
      object-fit: contain;
      position: absolute;
      top: -27px;
      left: 64px; }
    .prices .options .option-top {
      font-family: "Montserrat";
      font-size: 16px;
      text-align: center;
      margin-top: 51px; }
    .prices .options .option-middle {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      text-align: center;
      color: #333333;
      margin-top: 8px; }
    .prices .options .option-bottom {
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      text-align: center;
      color: rgba(51, 51, 51, 0.75);
      margin-top: 16px; }

.download {
  width: 100%;
  height: auto;
  background-image: linear-gradient(197deg, #de6221, #f8622c);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 90px; }
  @media all and (max-width: 768px) {
    .download {
      margin-top: 35px; } }
  .download .content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media all and (max-width: 768px) {
      .download .content {
        flex-direction: column;
        width: 100%; } }
    .download .content .left-download {
      width: calc(50% - 1px); }
      @media all and (max-width: 768px) {
        .download .content .left-download {
          width: 100%; } }
      @media all and (max-width: 1200px) {
        .download .content .left-download .center-block {
          width: 100%;
          padding-left: 24px; } }
      @media all and (max-width: 768px) {
        .download .content .left-download .center-block {
          padding-left: 0; } }
    .download .content .right-download {
      width: calc(50% - 1px); }
      @media all and (max-width: 768px) {
        .download .content .right-download {
          width: 100%; } }
      @media all and (max-width: 1200px) {
        .download .content .right-download .center-block {
          width: 100%;
          padding-left: 24px; } }
    .download .content .vr {
      width: 2px;
      height: 263px;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 48px 0; }
      @media all and (max-width: 768px) {
        .download .content .vr {
          width: calc(100% - 32px);
          height: 2px;
          margin: 32px auto; } }
    @media all and (max-width: 1200px) {
      .download .content .left .mobile-new-line {
        display: none; } }
    .download .content .left .label {
      width: 260px;
      height: 38px;
      font-family: "Bitter";
      font-size: 32px;
      text-align: left;
      color: #fff4e0; }
      @media all and (max-width: 768px) {
        .download .content .left .label {
          margin-top: 24px;
          margin-left: 16px; } }
    .download .content .left .label-description {
      width: 95%;
      height: auto;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.63;
      text-align: left;
      color: #fff4e0;
      margin: 19px 0 32px; }
      @media all and (max-width: 1200px) {
        .download .content .left .label-description {
          width: 348px; } }
      @media all and (max-width: 768px) {
        .download .content .left .label-description {
          text-align: left;
          width: auto;
          margin-right: 16px;
          margin-bottom: 26px;
          margin-left: 16px; } }
    .download .content .left a {
      text-decoration: none; }
      .download .content .left a span {
        width: 114px;
        height: 19px;
        font-family: "Montserrat";
        font-size: 16px;
        text-align: left;
        color: #de5628;
        line-height: 52px; }
      .download .content .left a .icon-download {
        object-fit: contain;
        color: #de5628;
        margin-left: 2px;
        position: relative;
        top: 5px; }
    .download .content .left .system {
      margin-top: 21px; }
      @media all and (max-width: 768px) {
        .download .content .left .system {
          margin: 21px auto 0; } }
      .download .content .left .system .label-system {
        width: 83px;
        height: 22px;
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        color: #8e3a19;
        margin-right: 11px; }
      .download .content .left .system .logo-windows {
        display: inline; }
    .download .content .right .circle {
      width: 24px;
      height: 24px;
      background-color: #fff3ee;
      color: #de5628;
      border-radius: 100%;
      position: relative;
      margin-right: 16px;
      line-height: 24px;
      text-align: center; }
      @media all and (max-width: 768px) {
        .download .content .right .circle {
          margin-right: 10px; } }
    @media all and (max-width: 1200px) {
      .download .content .right .right-content-download {
        padding-left: 25px; } }
    @media all and (max-width: 768px) {
      .download .content .right .right-content-download {
        padding: 0; } }
    .download .content .right .label-package {
      width: 392px;
      height: 22px;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.38;
      text-align: left;
      color: #fff4e0;
      margin-bottom: 5px; }
      @media all and (max-width: 768px) {
        .download .content .right .label-package {
          width: auto;
          margin: 0 16px 14px;
          height: auto; } }
    .download .content .right .package-content {
      height: 22px;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.38;
      text-align: left;
      color: #fff4e0;
      margin-top: 19px; }
      @media all and (max-width: 768px) {
        .download .content .right .package-content {
          margin: 0 16px 10px;
          height: auto;
          line-height: 2;
          font-size: 14px; } }
    .download .content .right .package-download {
      margin-top: 3px;
      margin-left: 45px; }
      @media all and (max-width: 768px) {
        .download .content .right .package-download {
          margin-bottom: 32px;
          margin-left: 55px; } }
      .download .content .right .package-download .package-download-content,
      .download .content .right .package-download a {
        width: 141px;
        height: 22px;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        text-align: left;
        color: #fbcb35;
        margin-right: 5px;
        cursor: pointer;
        text-decoration: none; }

.contact {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden; }
  @media all and (max-width: 1200px) {
    .contact {
      display: block;
      margin-bottom: 0; } }
  @media all and (max-width: 1200px) {
    .contact .horizontal-block {
      padding: 0 24px;
      width: 100%; } }
  @media all and (max-width: 768px) {
    .contact .horizontal-block {
      padding: 0 16px; } }
  .contact .left {
    margin-top: 164px; }
    @media all and (max-width: 1200px) {
      .contact .left {
        margin-top: 48px;
        display: flex;
        width: 100%; } }
    .contact .left .contact-label {
      width: 290px;
      font-family: "Bitter";
      font-size: 32px;
      line-height: 1.31;
      text-align: left;
      color: #3e534f;
      margin-bottom: 33px; }
      @media all and (max-width: 1200px) {
        .contact .left .contact-label {
          width: 100%;
          margin-bottom: 24px;
          margin-right: 24px; } }
      @media all and (max-width: 768px) {
        .contact .left .contact-label {
          margin: 0 0 15px 0;
          font-size: 30px; } }
    @media all and (max-width: 1200px) {
      .contact .left .mobile-content {
        display: flex; } }
    @media all and (max-width: 768px) {
      .contact .left .mobile-content {
        display: block; } }
    .contact .left .contact-description {
      width: 476px;
      height: auto;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 300;
      line-height: 1.63;
      text-align: left;
      color: #5a7f78;
      margin-bottom: 34px; }
      @media all and (max-width: 1200px) {
        .contact .left .contact-description {
          width: 50%; } }
      @media all and (max-width: 768px) {
        .contact .left .contact-description {
          width: 100%;
          margin-bottom: 19px; } }
    @media all and (max-width: 1200px) {
      .contact .left .mobile-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 50px; } }
    @media all and (max-width: 768px) {
      .contact .left .mobile-right {
        width: 100%;
        padding: 0; } }
    .contact .left .contact-details-email {
      width: 177px;
      height: 26px;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 500;
      line-height: 1.63;
      text-align: left;
      color: #333333; }
    .contact .left .contact-details-person {
      height: 52px;
      font-family: "Montserrat";
      font-size: 16px;
      line-height: 1.63;
      text-align: left;
      color: #333333;
      color: #333333;
      font-weight: 500;
      margin-top: 12px; }
  .contact .contact-line {
    display: none; }
    @media all and (max-width: 1200px) {
      .contact .contact-line {
        display: block;
        width: calc(100% - 32px);
        margin: 0 auto;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 24px;
        margin-bottom: 22px; } }
  .contact .right {
    margin-top: 164px; }
    @media all and (max-width: 1200px) {
      .contact .right {
        margin-top: 48px;
        display: flex;
        width: 100%; } }
    .contact .right .contact-form {
      width: 476px;
      height: 630px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      display: block;
      overflow: hidden;
      z-index: 2; }
      @media all and (max-width: 1200px) {
        .contact .right .contact-form {
          width: 100%;
          height: 537px;
          margin-bottom: 50px; } }
      @media all and (max-width: 768px) {
        .contact .right .contact-form {
          height: 660px; } }
      .contact .right .contact-form .contact-form-image {
        position: absolute;
        right: 0;
        top: 33px; }
        @media all and (max-width: 1200px) {
          .contact .right .contact-form .contact-form-image {
            top: -18px; } }
      .contact .right .contact-form .contact-form-label {
        position: relative;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        line-height: 1.44;
        text-align: left;
        color: #3e534f;
        display: block;
        padding-top: 36px;
        padding-left: 32px;
        margin-bottom: 12px; }
        @media all and (max-width: 768px) {
          .contact .right .contact-form .contact-form-label {
            padding-top: 16px;
            padding-left: 16px;
            margin-bottom: 14px; } }
      .contact .right .contact-form .contact-form-description {
        position: relative;
        width: 329px;
        height: auto;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 300;
        line-height: 1.63;
        text-align: left;
        color: #5a7f78;
        padding-left: 32px;
        margin-bottom: 52px;
        display: block; }
        @media all and (max-width: 1200px) {
          .contact .right .contact-form .contact-form-description {
            width: 80%;
            margin-bottom: 28px; } }
        @media all and (max-width: 768px) {
          .contact .right .contact-form .contact-form-description {
            padding-left: 16px; } }
      .contact .right .contact-form form {
        position: relative; }
        .contact .right .contact-form form input {
          display: block;
          margin-left: 32px;
          margin-bottom: 24px;
          z-index: 3;
          position: relative; }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form form input {
              width: calc(50% - 51px) !important;
              margin-left: 0;
              display: inline-block;
              margin-bottom: 24px; } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form form input {
              width: calc(100% - 32px) !important; } }
        .contact .right .contact-form form input[type="email"] {
          width: 412px;
          height: 40px;
          border: none;
          border-radius: 2px;
          background-color: #f8fdfc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
          font-family: "Montserrat";
          font-size: 16px;
          line-height: 1.63;
          text-align: left;
          color: #3e534f;
          padding: 0 15px;
          z-index: 3;
          position: relative; }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form form input[type="email"] {
              margin-left: 32px;
              margin-right: 16px; } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form form input[type="email"] {
              margin-right: 16px;
              margin-left: 16px;
              font-size: 12px; } }
        .contact .right .contact-form form input[type="tel"] {
          width: 412px;
          height: 40px;
          border: none;
          border-radius: 2px;
          background-color: #f8fdfc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
          font-family: "Montserrat";
          font-size: 16px;
          line-height: 1.63;
          text-align: left;
          color: rgba(90, 127, 120, 0.52);
          padding: 0 15px;
          z-index: 3;
          position: relative; }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form form input[type="tel"] {
              margin-right: 32px;
              margin-left: 16px; } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form form input[type="tel"] {
              margin-right: 16px;
              margin-left: 16px;
              font-size: 12px; } }
        .contact .right .contact-form form textarea {
          width: 412px;
          height: 194px;
          border: none;
          border-radius: 2px;
          background-color: #f8fdfc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
          font-family: "Montserrat";
          font-size: 16px;
          line-height: 1.63;
          text-align: left;
          color: rgba(90, 127, 120, 0.52);
          padding: 15px 15px;
          margin-left: 32px;
          z-index: 3;
          position: relative; }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form form textarea {
              margin-right: 32px;
              width: calc(100% - 64px); } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form form textarea {
              width: calc(100% - 32px);
              font-size: 12px;
              margin-right: 16px;
              margin-left: 16px; } }
        .contact .right .contact-form form input:focus,
        .contact .right .contact-form form textarea:focus {
          border: solid 1px #41a38e; }
        .contact .right .contact-form form button {
          width: 162px;
          height: 40px;
          border: none;
          border-radius: 2px;
          background-color: #de5628;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          font-family: "Montserrat";
          font-size: 16px;
          text-align: center;
          color: #ffffff;
          margin-top: 32px;
          margin-left: 278px;
          z-index: 3;
          position: relative; }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form form button {
              margin-top: 24px;
              margin-right: 32px;
              float: right; } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form form button {
              margin-right: 16px; } }
        .contact .right .contact-form form button:hover {
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); }
      .contact .right .contact-form .additional-background-2 {
        position: relative;
        width: 100%;
        height: 263px;
        bottom: 134px;
        background: linear-gradient(to bottom, #e3f6f2, #eff9f7); }
        .contact .right .contact-form .additional-background-2:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background: inherit;
          z-index: -1;
          bottom: 0;
          transform-origin: left top;
          transform: skewY(-13deg); }
          @media all and (max-width: 1200px) {
            .contact .right .contact-form .additional-background-2:after {
              transform: skewY(-7deg); } }
          @media all and (max-width: 768px) {
            .contact .right .contact-form .additional-background-2:after {
              transform: skewY(-13deg); } }
        @media all and (max-width: 1200px) {
          .contact .right .contact-form .additional-background-2 {
            height: 263px;
            bottom: 41px; } }
        @media all and (max-width: 768px) {
          .contact .right .contact-form .additional-background-2 {
            height: 200px;
            bottom: 0px; } }

/*# sourceMappingURL=style.css.map */