@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700&subset=latin-ext');
$brownish-orange: #de5628;
$texts-color: #333333;
$breakpointDesktop: 1200px;
$breakpointGrid: 1024px;
$breakpointTablet: 768px;
$breakpointMobileBig: 400px;
$breakpointMobile: 320px;
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 976px;
    @media all and (max-width: $breakpointGrid) {
        margin: 0 24px;
    }
    @media all and (max-width: $breakpointTablet) {
        margin: 0 16px;
    }
}

button {
    cursor: pointer;
}

.white-button {
    width: 207px;
    height: 52px;
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    font-family: "Montserrat";
    font-size: 16px;
    cursor: pointer;
    line-height: 52px;
    text-align: center;
    color: #de5628;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.12), 0 2px 14px 0 rgba(0, 0, 0, 0.24);
    @media all and (max-width: $breakpointTablet) {
        margin: 0 auto;
    }
    span {
        font-weight: 300;
    }
}

.white-button:hover {
    background-color: #ffeee9;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.34), 0 2px 14px 0 rgba(0, 0, 0, 0.24);
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.left-small {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    @media all and (max-width: $breakpointGrid) {
        width: 50%;
    }
    .center-block {
        @media all and (max-width: $breakpointGrid) {
            width: calc(100% + 24px);
            left: -24px;
            position: relative;
        }
    }
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.right-small {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    @media all and (max-width: $breakpointGrid) {
        width: 50%;
        padding-left: 14px;
        align-items: right;
    }
}

.center-block {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.font-bold {
    font-weight: 500;
}

///////// COOKIES /////////

.cookies {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 56px;
    background-color: #419588;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: $breakpointTablet) {
        font-size: 13px;
    }
    @media all and (max-width: $breakpointMobileBig) {
        font-size: 11px;
    }
    @media all and (max-width: $breakpointMobile) {
        font-size: 10px;
    }
    .cookies-content {
        font-family: 'Montserrat', sans-serif;
        color: #b6d9d4;
        .cookie {
            text-decoration: underline;
        }
        .cookies-button {
            border: none;
            width: 102px;
            height: 32px;
            border-radius: 2px;
            font-weight: 300;
            background-color: #3e6861;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #ffffff;
            margin-left: 12px;
            cursor: pointer;
            @media all and (max-width: $breakpointTablet) {
                height: 26px;
                margin-top: 5px;
            }
            @media all and (max-width: $breakpointMobileBig) {
                width: 90px;
            }
            @media all and (max-width: $breakpointMobile) {
                width: 75px;
            }
        }
    }
}

///////// NAVBAR /////////
.navbar {
    top: 56px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: 84px;
    z-index: 3;
    transition: all .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: $breakpointTablet) {
        position: absolute;
    }
    .navbar-left {
        padding-left: 25px;
        @media all and (max-width: $breakpointTablet) {
            padding-left: 12px;
            position: relative;
            top: -11px;
        }
        img {
            height: 27px;
            width: 100px;
            cursor: pointer;
        }
    }
    .navbar-right {
        margin-right: 24px;
        color: white;
        font-size: 16px;
        font-weight: 300;
        @media all and (max-width: $breakpointTablet) {
            display: none;
        }
        li {
            display: inline-block;
            margin-left: 42px;
            margin-top: 19px;
            cursor: pointer;
            &:last-child {
                width: 105px;
                height: 40px;
                border-radius: 2px;
                background-color: $brownish-orange;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                position: relative;
                top: -11px;
                cursor: pointer;
                a {
                    position: relative;
                    width: 105px;
                    height: 40px;
                    display: block;
                    text-align: center;
                    top: 11px;
                }
            }
            &:last-child:hover {
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            }
        }
        a {
            text-decoration: none;
            font-family: "Montserrat";
            font-size: 16px;
            text-align: left;
            color: #ffffff;
        }
    }
}

///////// HOME /////////
.home {
    width: 100%;
    min-height: 813px;
    height: 100vh;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    color: white;
    @media all and (max-width: $breakpointGrid) {
        height: 813px;
    }
    @media all and (max-width: $breakpointTablet) {
        height: 514px !important;
        min-height: 514px !important;
    }
    .youtube-container {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 10;
        .youtube-close-icon:hover {
            transform: scale(1.2);
        }
        #youtube-video {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.75);
            z-index: 10;
        }
        iframe {
            &:-webkit-full-screen {
                transform: none !important;
            }
        }
    }
    .title {
        width: 405px;
        height: auto;
        font-family: 'Bitter';
        font-size: 42px;
        text-align: left;
        position: absolute;
        top: 133px;
        @media all and (max-width: $breakpointDesktop) {
            top: 101px;
            width: 347px;
            font-size: 36px;
        }
        @media all and (max-width: 1098px) {
            margin-left: 37px;
        }
        @media all and (max-width: $breakpointTablet) {
            top: 179px;
            width: 296px;
            margin-left: 0;
        }
    }
    .title-second {
        width: 558px;
        height: auto;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 1.63;
        text-align: left;
        position: absolute;
        top: 255px;
        @media all and (max-width: $breakpointDesktop) {
            width: 323px;
            top: 208px;
        }
        @media all and (max-width: 1098px) {
            margin-left: 37px;
        }
        @media all and (max-width: $breakpointTablet) {
            top: 323px;
            width: 288px;
            margin-left: 0;
        }
    }
    .downloadMitto {
        text-decoration: none;
        width: 156px;
        height: 40px;
        line-height: 40px;
        top: 379px;
        position: absolute;
        border: none;
        border-radius: 2px;
        background-color: $brownish-orange;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        @media all and (max-width: 1098px) {
            margin-left: 37px;
        }
        @media all and (max-width: $breakpointTablet) {
            display: none;
        }
        p {
            width: auto;
            height: 19px;
            margin: auto;
            font-family: 'Montserrat';
            font-size: 16px;
            text-align: center;
            color: #ffffff;
        }
        @media all and (max-width: $breakpointDesktop) {
            top: 372px;
        }
    }
    .downloadMitto:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    }
    .video-box {
        width: 850px;
        height: 354px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        @media all and (max-width: $breakpointDesktop) {
            width: 840px;
            height: 354px;
        }
        @media all and (max-width: $breakpointGrid) {
            width: 650px;
            height: 300px;
        }
        @media all and (max-width: $breakpointTablet) {
            display: none;
        }
    }
    .video-link {
        position: absolute;
        bottom: 147px;
        left: 50%;
        transform: translateX(-50%);
        @media all and (max-width: $breakpointTablet) {
            display: none;
        }
        .triangle {
            object-fit: contain;
            margin-left: 14px;
            position: relative;
            top: 7px;
        }
    }
}

////// DESCRIPTION //////
.description {
    height: 625px;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: 300;
    color: $texts-color;
    display: flex;
    justify-content: center;
    position: relative;
    @media all and (max-width: $breakpointGrid) {
        margin: 0 0 0 48px;
    }
    @media all and (max-width: $breakpointTablet) {
        display: none;
        margin: 0 auto;
    }
    .center-block {
        width: 100%;
    }
    .paragraph {
        height: 48px;
        line-height: 48px;
        padding-left: 20px;
        border-radius: 100px 0 0 100px;
        width: 100%;
        font-size: 24px;
        text-align: left;
        cursor: pointer;
    }
    .active-paragraph {
        background-color: #eaf0ef;
        color: #41a38e;
    }
    .paragraphs {
        margin-top: 14px;
        width: 100%;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.63;
        text-align: left;
        -webkit-transition: all .8s;
        /* Safari */
        transition: all .8s;
    }
    .paragraph-first {
        margin-top: 140px;
        @media all and (max-width: $breakpointDesktop) {
            margin-top: 97px;
        }
    }
    .paragraph-first-second {
        height: auto;
        opacity: 1;
        @extend .paragraphs;
    }
    .paragraph-second,
    .paragraph-third,
    .paragraph-fourth {
        margin-top: 24px;
    }
    .paragraph-second-second {
        // display: none;
        height: 0;
        opacity: 0;
        @extend .paragraphs;
    }
    .paragraph-third-second {
        // display: none;
        height: 0;
        opacity: 0;
        @extend .paragraphs;
    }
    .paragraph-fourth-second {
        // display: none;
        height: 0;
        opacity: 0;
        @extend .paragraphs;
    }
    .image-description {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: relative;
        .image-description-content {
            width: 100%;
            height: 100%;
            @media all and (max-width: $breakpointGrid) {
                width: auto;
            }
        }
    }
    .audyt {
        margin: 0 14px;
        display: block;
        border-radius: 5px;
        background-color: #f7fcfb;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.21);
        .image-description-content {
            padding: 18px 24px 24px;
        }
    }
    .sugestie {
        margin: 0 14px;
        border-radius: 5px;
        background-color: #f7fcfb;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.21);
        .image-description-content {
            padding: 18px 24px 24px;
        }
    }
    .wysylka {
        .front {
            z-index: 2;
            position: absolute;
            padding: 24px 0;
            border-radius: 5px;
            width: 440px;
            background-color: #f7fcfb;
            box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.21);
        }
        .back {
                z-index: 1;
                position: relative;
                top: 124px;
                left: 51px;
                padding: 24px;
                border-radius: 5px;
                background-color: #f7fcfb;
                box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.21);
            }
        }
    }
    .oszczednosci {
        margin: 0 14px;
        border-radius: 5px;
        background-color: #f7fcfb;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.21);
        .image-description-content {
            padding: 18px 24px 24px;
        }
    }
    .sugestie,
    .wysylka,
    .oszczednosci {
        display: none;
    }

.prices {
    width: 100%;
    max-width: 100%;
    background-color: white;
    display: block;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    .title {
        width: 100%;
        font-family: "Bitter";
        font-size: 32px;
        text-align: center;
        color: $texts-color;
        margin: 0 auto 12px;
        @media all and (max-width: $breakpointTablet) {
            margin-top: 64px;
            margin-bottom: 9px;
        }
    }
    .prices-description-1 {
        width: 629px;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 300;
        line-height: 1.63;
        text-align: center;
        color: $texts-color;
        margin: 0 auto 20px auto;
        @media all and (max-width: $breakpointTablet) {
            padding: 0 16px;
            width: auto;
        }
    }
    .full-price-list {
        width: 100%;
        font-family: "Montserrat";
        font-size: 16px;
        text-align: center;
        color: $brownish-orange;
        margin-bottom: 60px;
        cursor: pointer;
        display: block;
        text-decoration: none;
        @media all and (max-width: $breakpointTablet) {
            margin-bottom: 25px;
        }
    }
    .options {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        transition: all 3s;
        .brown-price,
        .silver-price,
        .gold-price,
        .platinum-price {
            cursor: pointer;
        }

        .option-block {
            width: 184px;
            height: 166px;
            border-radius: 5px;
            margin: 10px 12px 26px 12px;
            position: relative;
            @media all and (max-width: $breakpointDesktop) {
                width: 162px;
            }
            // @media all and (max-width: $breakpointTablet) {
            //     display: none;
            // }
        }
        .brown {
            background-image: linear-gradient(204deg, rgba(208, 159, 95, 0.1), rgba(165, 92, 29, 0.1));
        }
        .brown-color {
            color: #a36631;
        }
        .silver {
            background-image: linear-gradient(204deg, rgba(188, 188, 188, 0.1), rgba(124, 124, 124, 0.1));
        }
        .silver-color {
            color: #959595
        }
        .gold {
            background-image: linear-gradient(204deg, rgba(225, 180, 47, 0.1), rgba(250, 187, 0, 0.1));
        }
        .gold-color {
            color: #b39025;
        }
        .platinum {
            background-image: linear-gradient(204deg, rgba(135, 138, 145, 0.1), rgba(15, 46, 119, 0.1));
        }
        .platinum-color {
            color: #6c6e74;
        }
        .option-image {
            width: 50px;
            height: 52px;
            object-fit: contain;
            position: absolute;
            top: -27px;
            left: 64px;
            @media all and (max-width: $breakpointDesktop) {
                left: 53px;
            }
        }
        .option-top {
            font-family: "Montserrat";
            font-size: 16px;
            text-align: center;
            margin-top: 51px;
        }
        .option-middle {
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
            text-align: center;
            color: $texts-color;
            margin-top: 8px;
        }
        .option-bottom {
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            text-align: center;
            color: rgba(51, 51, 51, 0.75);
            margin-top: 16px;
        }
    }
}

.download {
    width: 100%;
    height: auto;
    background-image: linear-gradient(197deg, #de6221, #f8622c);
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    @media all and (max-width: $breakpointTablet) {
        margin-top: 0px;
    }
    .content {
        width: 976px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media all and (max-width: $breakpointTablet) {
            flex-direction: column;
            width: 100%;
        }
        .left-download {
            width: calc(50% - 1px);
            padding-right: 15px;
            @media all and (max-width: $breakpointTablet) {
                width: 100%;
            }
            .center-block {
                position: relative;
                top: 3px;
                left: 7px;
                @media all and (max-width: $breakpointDesktop) {
                    width: 100%;
                    left: 0;
                    top: 3;
                }
                @media all and (max-width: $breakpointTablet) {
                    padding-left: 0px;
                }
            }
        }
        .right-download {
            width: calc(50% - 1px);
            @media all and (max-width: $breakpointTablet) {
                width: 100%;
            }
            .center-block {
                position: relative;
                left: 57px;
                @media all and (max-width: $breakpointDesktop) {
                    width: 100%;
                    left: 0;
                }
            }
        }
        .vr {
            width: 2px;
            height: 263px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 48px 0;
            @media all and (max-width: $breakpointTablet) {
                width: calc(100% - 32px);
                height: 2px;
                margin: 32px auto;
            }
        }
        .left {
            .mobile-new-line {
                @media all and (max-width: $breakpointDesktop) {
                    display: none;
                }
            }
            .label {
                width: 260px;
                height: 38px;
                font-family: "Bitter";
                font-size: 32px;
                text-align: left;
                color: #fff4e0;
                @media all and (max-width: $breakpointTablet) {
                    margin-top: 24px;
                    margin-left: 16px;
                    align-self: center;
                    display: flex;
                }
            }
            .label-description {
                max-width: 466px;
                height: auto;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 300;
                line-height: 1.63;
                text-align: left;
                color: #fff4e0;
                margin: 19px 0 32px;
                @media all and (max-width: $breakpointDesktop) {
                    font-size: 14px;
                    line-height: 1.86;
                }
                @media all and (max-width: $breakpointTablet) {
                    align-self: center;
                    width: auto;
                    margin-right: 16px;
                    margin-bottom: 26px;
                    margin-left: 16px;
                }
            }
            a {
                text-decoration: none;
                span {
                    width: 114px;
                    height: 19px;
                    font-family: "Montserrat";
                    font-size: 16px;
                    text-align: left;
                    color: $brownish-orange;
                    line-height: 52px;
                }
                .icon-download {
                    object-fit: contain;
                    color: $brownish-orange;
                    margin-left: 2px;
                    position: relative;
                    top: 5px;
                }
            }
            .system {
                margin-top: 21px;
                @media all and (max-width: $breakpointTablet) {
                    margin: 21px auto 0;
                }
                .label-system {
                    position: relative;
                    bottom: 7px;
                    width: 83px;
                    height: 22px;
                    font-family: "Montserrat";
                    font-size: 14px;
                    line-height: 1.57;
                    text-align: left;
                    color: #8e3a19;
                    margin-right: 11px;
                    position: relative;
                    bottom: 6px;
                }
                .logo-windows {
                    display: inline;
                }
            }
        }
        .right {
            .circle {
                width: 24px;
                height: 24px;
                background-color: #fff3ee;
                color: $brownish-orange;
                border-radius: 100%;
                position: relative;
                margin-right: 16px;
                line-height: 24px;
                text-align: center;
                @media all and (max-width: $breakpointTablet) {
                    margin-right: 10px;
                }
            }
            .right-content-download {
                @media all and (max-width: $breakpointDesktop) {
                    width: 300px
                }
                @media all and (max-width: $breakpointTablet) {
                    padding: 0;
                }
            }
            .label-package {
                width: 392px;
                height: 22px;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 300;
                line-height: 1.38;
                text-align: left;
                color: #fff4e0;
                margin-bottom: 5px;
                @media all and (max-width: $breakpointTablet) {
                    width: auto;
                    margin: 0 16px 14px;
                    height: auto;
                }
            }
            .package-content {
                width: 330px;
                height: auto;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 300;
                line-height: 1.38;
                text-align: left;
                color: #fff4e0;
                margin-top: 19px;
                display: flex;
                @media all and (max-width: $breakpointTablet) {
                    margin: 0 16px 10px;
                    height: auto;
                    line-height: 2;
                    font-size: 14px;
                }
            }
            .package-download {
                margin-top: 3px;
                margin-left: 45px;
                @media all and (max-width: $breakpointTablet) {
                    margin-bottom: 32px;
                    margin-left: 55px;
                }
                .package-download-content,
                a {
                    width: 141px;
                    height: 22px;
                    font-family: "Montserrat";
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.57;
                    text-align: left;
                    color: #fbcb35;
                    margin-right: 5px;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}

.contact {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    @media all and (max-width: $breakpointDesktop) {
        display: block;
        margin-bottom: 0;
    }
    .horizontal-block {
        @media all and (max-width: $breakpointDesktop) {
            padding: 0 9px;
        }
        @media all and (max-width: $breakpointTablet) {
            padding: 0 16px;
        }
    }
    .left {
        margin-top: 149px;
        @media all and (max-width: $breakpointDesktop) {
            margin-top: 48px;
            display: flex;
            width: 100%;
        }
        @media all and (max-width: $breakpointTablet) {
            margin-top: 64px;
        }
        .center-block {
            padding-left: 118px;
            padding-top: 10px;
            @media all and (max-width: $breakpointDesktop) {
                padding-left: 24px;
                padding-top: 0;
                width: calc(100% - 30px) !important;
            }
            @media all and (max-width: $breakpointTablet) {
                padding: 0;
            }
        }
        .contact-label {
            width: 290px;
            font-family: "Bitter";
            font-size: 32px;
            line-height: 1.31;
            text-align: left;
            color: #3e534f;
            margin-bottom: 33px;
            @media all and (max-width: $breakpointDesktop) {
                width: 100%;
                margin-bottom: 24px;
                margin-right: 24px;
            }
            @media all and (max-width: $breakpointTablet) {
                margin: 0 0 15px 0;
                font-size: 30px;
            }
        }
        .mobile-content {
            @media all and (max-width: $breakpointDesktop) {
                display: flex;
            }
            @media all and (max-width: $breakpointTablet) {
                display: block;
            }
        }
        .contact-description {
            width: 476px;
            height: auto;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 300;
            line-height: 1.63;
            text-align: left;
            color: #5a7f78;
            margin-bottom: 34px;
            @media all and (max-width: $breakpointDesktop) {
                width: 50%;
            }
            @media all and (max-width: $breakpointTablet) {
                width: 100%;
                margin-bottom: 19px;
            }
        }
        .mobile-right {
            @media all and (max-width: $breakpointDesktop) {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: left;
                padding-left: 20px;
            }
            @media all and (max-width: $breakpointTablet) {
                width: 100%;
                padding: 0;
            }
        }
        .contact-details-email {
            width: 177px;
            height: 26px;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 500;
            line-height: 1.63;
            text-align: left;
            color: $texts-color;
        }
        .contact-details-person {
            height: 52px;
            font-family: "Montserrat";
            font-size: 16px;
            line-height: 1.63;
            text-align: left;
            color: #333333;
            color: $texts-color;
            font-weight: 500;
            margin-top: 12px;
        }
    }
    .contact-line {
        display: none;
        @media all and (max-width: $breakpointTablet) {
            display: block;
            width: calc(100% - 32px);
            margin: 0 auto;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.1);
            margin-top: 24px;
            margin-bottom: 22px;
        }
    }
    .right {
        margin-top: 121px;
        align-items: left;
        @media all and (max-width: $breakpointDesktop) {
            margin-top: 20px;
            display: flex;
            width: 100%;
        }
        .center-block {
            padding: 0;
            width: 100%;
            @media all and (max-width: $breakpointDesktop) {
                width: 100% !important;
                padding-right: 30px;
            }
            @media all and (max-width: $breakpointTablet) {
                padding-right: 0px;
            }
        }
        .contact-form {
            width: 476px;
            height: 630px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
            position: relative;
            display: block;
            overflow: hidden;
            z-index: 2;
            margin: 15px;
            @media all and (max-width: $breakpointDesktop) {
                width: 100%;
                height: 537px;
                margin-bottom: 50px;
            }
            @media all and (max-width: $breakpointTablet) {
                height: 660px;
                margin: 0;
                box-shadow: none;
            }
            .contact-form-image {
                position: absolute;
                right: 0;
                top: 33px;
                @media all and (max-width: $breakpointDesktop) {
                    top: -18px;
                }
            }
            .contact-form-label {
                position: relative;
                font-family: "Montserrat";
                font-size: 18px;
                font-weight: 500;
                line-height: 1.44;
                text-align: left;
                color: #3e534f;
                display: block;
                padding-top: 36px;
                padding-left: 32px;
                margin-bottom: 12px;
                @media all and (max-width: $breakpointTablet) {
                    padding-top: 16px;
                    padding-left: 16px;
                    margin-bottom: 14px;
                }
            }
            .contact-form-description {
                position: relative;
                width: 329px;
                height: auto;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 300;
                line-height: 1.63;
                text-align: left;
                color: #5a7f78;
                padding-left: 32px;
                margin-bottom: 52px;
                display: block;
                @media all and (max-width: $breakpointDesktop) {
                    width: 80%;
                    margin-bottom: 28px;
                }
                @media all and (max-width: $breakpointTablet) {
                    padding-left: 16px;
                }
            }
            form {
                position: relative;
                input {
                    display: block;
                    margin-left: 32px;
                    margin-bottom: 24px;
                    z-index: 3;
                    position: relative;
                    @media all and (max-width: $breakpointDesktop) {
                        width: calc(50% - 51px) !important;
                        margin-left: 0;
                        display: inline-block;
                        margin-bottom: 24px;
                    }
                    @media all and (max-width: $breakpointTablet) {
                        width: calc(100% - 32px) !important;
                    }
                }
                input[type="email"] {
                    width: 412px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: #f8fdfc;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
                    font-family: "Montserrat";
                    font-size: 16px;
                    line-height: 1.63;
                    text-align: left;
                    color: #3e534f;
                    padding: 0 15px;
                    z-index: 3;
                    position: relative;
                    @media all and (max-width: $breakpointDesktop) {
                        margin-left: 32px;
                        margin-right: 16px;
                    }
                    @media all and (max-width: $breakpointTablet) {
                        margin-right: 16px;
                        margin-left: 16px;
                        font-size: 12px;
                    }
                }
                input[type="tel"] {
                    width: 412px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: #f8fdfc;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
                    font-family: "Montserrat";
                    font-size: 16px;
                    line-height: 1.63;
                    text-align: left;
                    color: rgba(90, 127, 120, 0.52);
                    padding: 0 15px;
                    z-index: 3;
                    position: relative;
                    @media all and (max-width: $breakpointDesktop) {
                        margin-right: 32px;
                        margin-left: 16px;
                    }
                    @media all and (max-width: $breakpointTablet) {
                        margin-right: 16px;
                        margin-left: 16px;
                        font-size: 12px;
                    }
                }
                textarea {
                    resize: none !important;
                    width: 412px;
                    height: 194px;
                    border: none;
                    border-radius: 2px;
                    background-color: #f8fdfc;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #97d1c6;
                    font-family: "Montserrat";
                    font-size: 16px;
                    line-height: 1.63;
                    text-align: left;
                    color: rgba(90, 127, 120, 0.52);
                    padding: 15px 15px;
                    margin-left: 32px;
                    z-index: 3;
                    position: relative;
                    @media all and (max-width: $breakpointDesktop) {
                        margin-right: 32px;
                        width: calc(100% - 64px);
                    }
                    @media all and (max-width: $breakpointTablet) {
                        width: calc(100% - 32px);
                        font-size: 12px;
                        margin-right: 16px;
                        margin-left: 16px;
                    }
                }
                input:focus,
                textarea:focus {
                    border: solid 1px #41a38e;
                }
                button {
                    width: 162px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: $brownish-orange;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                    font-family: "Montserrat";
                    font-size: 16px;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 32px;
                    margin-left: 278px;
                    z-index: 3;
                    position: relative;
                    @media all and (max-width: $breakpointDesktop) {
                        margin-top: 24px;
                        margin-right: 32px;
                        float: right;
                    }
                    @media all and (max-width: $breakpointTablet) {
                        margin-right: 16px;
                    }
                }
                button:hover {
                    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
                }
            }
            .additional-background-2 {
                position: relative;
                width: 100%;
                height: 263px;
                bottom: 134px;
                background: linear-gradient(to bottom, #e3f6f2, #eff9f7);
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: inherit;
                    z-index: -1;
                    bottom: 0;
                    transform-origin: left top;
                    transform: skewY(-13deg);
                    @media all and (max-width: $breakpointDesktop) {
                        transform: skewY(-7deg);
                    }
                    @media all and (max-width: $breakpointTablet) {
                        transform: skewY(-13deg);
                    }
                }
                @media all and (max-width: $breakpointDesktop) {
                    height: 263px;
                    bottom: 41px
                }
                @media all and (max-width: $breakpointTablet) {
                    height: 200px;
                    bottom: 0px
                }
            }
        }
    }
}

.slick-list {
    padding: 20px !important;
}

.slick-dots {
    bottom: 0px !important;
    li {
        button:before {
            font-size: 35px !important;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .download {
        .left-download {
            .center-block {
                left: 18px;
                width: 100%;
            }
        }
         /* Enter your style code */
    }
 }

 ////////// MODAL //////////

 .modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    top: 0;
    #modal-container {
        width: 760px;
        max-width: 760px;
        margin: 48px auto;
        padding-bottom: 1px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.75);
        color: $texts-color;
        @media all and (max-width: $breakpointDesktop) {
            width: auto;
            margin: 24px auto;
        }
        @media all and (max-width: 812px) {
            margin: 24px;
        }
        @media all and (max-width: $breakpointTablet) {
            width: 100%;
            max-width: none;
            margin: 0;
            border: 2px solid black;
            border-radius: 2px;
        }
        .modal-header {
            position: relative;
            height: 104px;
            font-family: 'Bitter';
            font-size: 32px;
            text-align: center;
            line-height: 104px;
            border-bottom: 2px solid #f3f3f3;
            .header-close-icon {
                position: absolute;
                right: 18px;
                top: 18px;
                cursor: pointer;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        .modal-content {
            margin: 33px 64px;
            overflow-x: hidden; 
            @media all and (max-width: $breakpointTablet) {
                margin: 33px 8px;
            }
            .package-header {
                text-align: center;
                position: relative;
                height: 62px;
                margin-bottom: 43px;
                &:before,
                &:after {
                    content: "";
                    display: inline-block;
                    height: 2px;
                    position: absolute;
                    vertical-align: middle;
                    width: 100%;
                    top: 30px
                }
                &:before {
                    right: 33px;
                }
                &:after {
                    left: 33px;
                }
                @media all and (max-width: $breakpointTablet) {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                .package-header-content {
                    background: #fff;
                    width: 320px;
                    z-index: 2;
                    display: block;
                    position: relative;
                    margin: auto;
                }
                .package-header-icon {
                    display: inline-block;
                }
                .package-header-text {
                    display: inline-block;
                    font-family: 'Montserrat';
                    height: 62px;
                    margin-left: 18px;
                    text-align: left;
                    .package-name,
                    .package-name-center {
                        font-size: 16px;
                    }
                    .package-name {
                        position: relative;
                        bottom: 17px;
                    }
                    .package-name-center {
                        bottom: 22px;
                        position: relative;
                    }
                    .package-text {
                        font-size: 14px;
                        position: relative;
                        bottom: 14px;
                        word-wrap: break-word;
                    }
                }
            }
            .brown {
                &:before,
                &:after {
                    background-color: #704521;
                }
            }
            .silver {
                &:before,
                &:after {
                    background-color: #959595;
                }
            }
            .gold {
                &:before,
                &:after {
                    background-color: #B39025;
                }
            }
            .platinum {
                &:before,
                &:after {
                    background-color: #6C6E74;
                }
            }
            .default {
                &:before,
                &:after {
                    background-color: #14332B;
                }
            }
            .package-table {
                margin-bottom: 73px;
                @media all and (max-width: $breakpointTablet) {
                    margin-bottom: 48px;
                }
                table {
                    width: 100%;
                    border-collapse: collapse;
                    thead {
                        font-family: 'Montserrat';
                        font-size: 14px;
                        line-height: 1.71;
                        text-align: left;
                        tr {
                            border-bottom: 1px solid #828282;
                        }
                        }
                    }
                    tbody {
                        font-family: 'Montserrat';
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.71;
                        tr {
                            border-bottom: 1px solid #e9e9e9;
                        }
                    }
                    th, td {
                        height: 40px
                    }
                    .thicker-border-bottom {
                        border-bottom: 2px solid #828282;
                    }
                    .mobile-text {
                        display: none;
                        font-weight: normal;
                        @media all and (max-width: $breakpointTablet) {
                            display: block;
                        }
                    }
                }
                .courier {
                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 30%;
                        @media all and (max-width: $breakpointTablet) {
                            font-weight: bold;
                            width: 40%;
                        } 
                    }
                    th:nth-child(2),
                    td:nth-child(2) {
                        width: 25%;
                        @media all and (max-width: $breakpointTablet) {
                            display: none;
                        }
                    }
                    th:nth-child(3),
                    td:nth-child(3) {
                        width: 20%;
                        text-align: right;
                        @media all and (max-width: $breakpointTablet) {
                            width: 30%;
                        }
                    }

                    th:nth-child(4),
                    td:nth-child(4) {
                        width: 25%;
                        text-align: right;
                        @media all and (max-width: $breakpointTablet) {
                            width: 30%;
                        }
                    }
                }
                .services {
                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 25%;
                        @media all and (max-width: $breakpointTablet) {
                            font-weight: bold;
                            width: 40%;
                        } 
                    }
                    th:nth-child(2),
                    td:nth-child(2) {
                        width: 41%;
                        @media all and (max-width: $breakpointTablet) {
                            display: none;
                        }
                    }
                    th:nth-child(3),
                    td:nth-child(3) {
                        width: 17%;
                        text-align: right;
                        @media all and (max-width: $breakpointTablet) {
                            width: 30%;
                        }
                    }

                    th:nth-child(4),
                    td:nth-child(4) {
                        width: 17%;
                        text-align: right;
                        @media all and (max-width: $breakpointTablet) {
                            width: 30%;
                        }
                    }
                }
            }
        }
      }