RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.mittoplus.pl(.*) [NC]
RewriteRule ^(.*)$ http://mittoplus.pl/$1 [R=301,L]

RewriteRule ^index.(php|html|htm)$ / [R=301,L]
RewriteRule ^([a-z0-9-_]+)/index.(php|html|htm)$ /$1/ [R=301,L]

RewriteRule ^([a-z0-9-_]+)$ http://%{HTTP_HOST}/$1/ [R=301]

## EXPIRES CACHING ##

<IfModule mod_expires.c>

ExpiresActive On

ExpiresByType js/app.js "access 1 year"

ExpiresByType images/zloty.svg "access 1 year"

ExpiresByType images/platynowy.svg "access 1 year"

ExpiresByType images/brazowy.svg "access 1 year"

ExpiresByType images/srebrny.svg "access 1 year"

ExpiresByType images/triangle.svg "access 1 year"

ExpiresByType images/logo.svg "access 1 year"

ExpiresByType images/lgoBlack.png "access 1 year"

ExpiresByType images/logo-windows.svg "access 1 year"

ExpiresByType images/logo-download.svg "access 1 year"

ExpiresByType images/icon-download-small.svg "access 1 year"

ExpiresByType images/group-26-copy.svg "access 1 year"

ExpiresByType images/background.svg "access 1 year"

ExpiresByType images/bitmap@3x.png "access 1 year"

ExpiresByType images/zlecenia.png "access 1 year"

ExpiresByType css/normalize.css "access 1 year"

ExpiresByType css/font-awesome.min.css "access 1 year"

ExpiresByType css/normalize.css "access 1 year"

ExpiresByType mail.php "access 1 year"

</IfModule>

<IfModule mod_headers.c>

 <FilesMatch "\.(jpg|jpeg|png|gif|swf|JPG|svg)$">

 Header set Cache-Control "max-age=4838400, public"

 </FilesMatch>

 <FilesMatch "\.(css|js)$">

 Header set Cache-Control "max-age=4838400, private"

 </FilesMatch>

 </IfModule>

## EXPIRES CACHING ##